// PLATZHALTER – Werte warten auf Freigabe / Mockup
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$animation-time: 0.3s;

// Schriftarten werden nachgereicht
$f-title: sans-serif;
$f-txt: sans-serif;
