@use '../../../../styles/abstracts' as *;

.admin-box {
  display: grid;
  gap: $space-4;
  align-items: start;

  @include respond-to(md) {
    grid-template-columns: 1.4fr 1fr;
  }

  &__actions {
    display: flex;
    gap: $space-2;
  }
}
